@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Ubuntu", sans-serif;
}

.socials {
  position: fixed;
  right: 0;
  top: 35%;
  display: flex;
  flex-direction: column;
}

.socials a {
  text-align: center;
  padding: 0.5em;
  margin: 0.1em 0;
  transition: all 0.3s ease;
  color: white;
  font-size: 1.5em;
  background: rgba(247, 243, 243, 0.1);
  border-radius: 20%;
}

.socials a:hover {
  background: white;
}

.socials .github:hover {
  color: black;
}

.socials .instagram:hover {
  color: rgb(247, 23, 217);
}

.socials .linkedin:hover {
  color: dodgerblue;
}

.socials .email:hover {
  color: rgb(240, 53, 47);
}

video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -5;
}

body {
  height: 100%;
}

.container {
  padding: 0.8em 5em;
  max-width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  height: 8vh;
  align-items: center;
}

.logo {
  text-decoration: none;
  color: white;
  font-size: 1.8em;
  font-weight: 500;
}

.logo:hover {
  text-decoration: none;
  color: white;
}

nav {
  height: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.nav-links {
  display: flex;
  height: 100%;
  align-items: center;
  max-width: 100%;
}

.nav-links li a {
  text-decoration: none;
  padding: 0.8em 1em;
  font-size: 1.1em;
  letter-spacing: 0.15em;
  color: white;
  display: inline-block;
  position: relative;
  transition: all 0.5s ease;
}

.nav-links li a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: rgb(30, 144, 255);
  transition: width 0.5s ease 0s, left 0.5s ease 0s;
  width: 0;
  font-weight: bolder;
}

.nav-links li a:hover:after {
  width: 100%;
  left: 0;
}

/* home section */
.home {
  display: flex;
  justify-content: space-evenly;
  color: #fff;
  height: 90vh;
  min-height: 500px;
  align-items: center;
  margin: 0 5em;
  max-width: 100%;
}

.home .wad-text {
}

.home .img-crop {
  max-width: 400px;
  height: 400px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}

.home img {
  width: 100%;
  height: auto;
}

.home .text1 {
  font-size: 5.5em;
  font-weight: 600;
  padding-bottom: 10px;
}

.home .text-animation {
  font-size: 2em;
  font-weight: 500;
}

.home .text-animation span {
  color: #5c85ec;
  font-weight: 600;
}

/* about section */
.waves {
  display: block;
  height: 450px;
  background-image: url("images/wave.svg");
  background-repeat: repeat-x;
  background-size: contain;
  background-position: center bottom;
}

.wavesb {
  display: block;
  height: 450px;
  background-image: url("images/waveb.svg");
  background-repeat: repeat-x;
  background-size: contain;
  background-position: center top;
}

.container-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 2em 8em;
  max-width: 100%;
  background-color: rgba(30, 49, 216, 0.4);
  min-height: 100vh;
}

.container-about h1 {
  text-align: center;
  color: white;
  font-size: 40px;
}

.about-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em 2em;
  color: white;
  text-align: center;
}

.about-content .cd {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  flex-direction: column;
  width: 35%;
  height: auto;
}

.about-content .cd img {
  width: 15em;
  height: 15em;
  margin: 1.5em 0em;
}

.about-content .cd p {
  font-size: 20px;
}

.about-content .cd h2 {
  font-size: 40px;
  padding-bottom: 0.5em;
}

/* project section */
.container-project {
  padding: 0 6em;
  max-width: 100%;
  min-height: 100vh;
  margin-top: -450px;
}

.container-project h1 {
  text-align: center;
  color: white;
  font-size: 40px;
  padding-top: 1em;
  padding-bottom: 1em;
}

.project-content {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-gap: 100px 10px;
  padding: 1em 2em;
  color: white;
  padding-left: 4em;
  padding-top: 4em;
}

.project-content img {
  width: 100%;
  height: 100%;
}

.project-content .img-crop {
  max-width: 325px;
  height: 325px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}

.project-content .text h1 {
  text-align: left;
  font-weight: 700;
}

.project-content .text p {
  font-size: 22px;
  line-height: 1.6;
}

@media screen and (max-width: 1150px) {
  /* home section */
  .home {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
  }
  .home .wad-text {
    padding-bottom: 100px;
  }
}

@media screen and (max-width: 885px) {
  .container-project {
    padding: 0;
    max-width: 100%;
  }

  .project-content {
    display: flex;
    flex-direction: column;
    grid-gap: 10px 10px;
    padding-left: 2em;
  }

  .project-content .text p {
    padding-bottom: 5em;
  }

  .nav-links li a:after {
    background: floralwhite;
  }

  .nav-links {
    position: fixed;
    background: dodgerblue;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    flex-direction: column;
    justify-content: space-evenly;
    clip-path: circle(100px at 90% -25%);
    -webkit-clip-path: circle(100px at 90% -25%);
    transition: all 1s ease-out;
    opacity: 0.8;
    z-index: 10;
  }

  .line {
    width: 30px;
    height: 3px;
    background: white;
    margin: 4px;
  }

  .hamburger {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 5%;
    transform: translate(-5%, -5%);
    z-index: 11;
    transition: all 0.8s ease;
  }

  .hamburger.open {
    transform: rotate(180deg);
  }

  .nav-links.open {
    clip-path: circle(1300px at 90% -25%);
    -webkit-clip-path: circle(1300px at 90% -25%);
    opacity: 1;
  }
}

@media screen and (max-width: 800px) {
  .about-content {
    flex-direction: column;
  }
  .about-content .cd {
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 500px) {
  .home .wad-text {
    text-align: center;
  }
  
  .home .img-crop {
    max-width: 14em;
    height: 14em;
  }

  .home .home-content .text-animation {
    font-size: 2em;
    font-weight: 500;
    text-align: center;
  }

  .socials a {
    font-size: 1em;
  }

  .container-about {
    padding: 2em 2em;
  }

  .container-about .about-content {
    padding: 1em 0.5em;
  }

  .project-content {
    align-items: center;
  }

  .project-content .text h1 {
    text-align: center;
    font-size: 40px;
  }

  .project-content .text p {
    text-align: center;
    font-size: 20px;
  }

  .container-project h1 {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }

  .project-content .img-crop {
    max-width: 18em;
    height: 18em;
  }
}
